body {
  display: inline-block;
  align-content: center;
  background: #fff;
  color: #222;
  height: 100%;
  margin: 0;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 7px;
  overflow: hidden;
 }

.search_header_search_list { /*list containing google logo, input text, keyboard and mag.glass*/
	float: left;
	/*border: 1px solid red;*/
	vertical-align: middle;
	

}

.search_header_buttons_list { /*list containing google app laubcher, gmail bell, google login*/
	float: right;

}

.search_header_menu_list { /*menu at the botton part of the painel*/
	/*border: 1px solid green;*/
	/*border-bottom: 1px solid #f2f2f2;*/
	float: bottom;
	position: relative;
	align-items: center;
    bottom: 0;
   
   /*padding-left: 120px;*/
    
    width: 100%;

}

#keyboard {
	align-content: center;
	align-items: center;
	padding-bottom: 7px; 
	padding-right: 10px; 
}

#google_logo {
	width: 92px;
	height: 30px;
	/*margin-bottom: 80px;*/
}

#google_logo:hover, #keyboard:hover, #google_login_icon:hover, #search_button:hover, #app_launcher_icon:hover, #gmail_bell:hover {
	cursor: pointer;
	/*border: 1px solid red;*/
}

#search_button, #app_launcher_icon, #gmail_bell {
	/*🔍*/
	color: #4285f4;
	background: none;
	width: 24px;
	height: 24px;
	align-content: center;

}

div.painelAlternativo {
	/*border: 1px solid green;*/
	width: 5%;
	position: relative;
	display: inline;
	top: -10px;
  	left: 600px;
  	align-content: center;
  	/*z-index: 10;*/
}

#google_login_icon{
	height: 32px;
	width: 32px;
	background-size: 32px 32px;
	border-radius: 50%;
	margin: -1px;
	overflow: hidden;
	z-index: 0; 
}


input.texto {
	/*border: 1px solid #9F9F9F;*/
	border: 1px solid #E9E9E9;
	background-color: transparent;
	margin: 0;
	padding: 0px;
	text-indent: 15px;

	color: rgba(0,0,0,.87);
	word-wrap: break-word;
	outline: none;
	display: flex;
	flex: 100%;
    line-height: normal;
	line-height: 34px;
	height: 40px !important;

	
	font-family: arial,sans-serif;
	width: 60%;

	font: 16px arial,sans-serif;

	border-radius: 18px;
}

.search_input {
	margin: 0px;
	padding: 0px;

}

#header_text_input {
	width: 50vw;
	margin: 0px;
	padding: 0px;
	margin-bottom: -25px;
}

input.texto:hover {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

}

div#search_header_painel {
 /*border: 1px solid blue;*/
 border-bottom: 1px solid #f2f2f2;
 

 padding: 10px 10px;
 position: absolute;
 width: 97%;
}

div#left_side_buttons {
	/*float: left;*/
	}

div#right_side_buttons {
	/*float: right;*/
}

div#bottom_side_menu {
	
}

.search_header_search_list li, .search_header_buttons_list li, .search_header_menu_list li {
	/*border: 1px solid green;*/
	display: inline-block;

}

.search_header_buttons_list li {
	padding: 5px;
	

}

.search_header_menu_list li.all {

	height: 15px;
	line-height: 15px;
	padding: 28px 16px 12px;

	margin-left: 154px;

	/*border-bottom: 2px solid blue;*/ /*selected*/
	border-bottom: 3px solid #1A73E8; /*selected*/
	color: #1A73E8;
	font-weight: bold;

	outline: none;

	white-space: nowrap;

	font-size: 13px;

	font-family: arial,sans-serif;

}

.search_header_menu_list li {
	height: 15px;
	line-height: 15px;
	margin: 0 8px;
	padding: 0 8px;

	cursor: pointer;

	color: #777;

	outline: none;

	white-space: nowrap;

	font-size: 13px;

	font-family: arial,sans-serif;

	line-height: 15px;
}

.search_header_menu_list li.list_button{
	border: none; /*selected*/
	
}

.search_header_menu_list li.list_button input {
	color: #777;
	outline: none;
	
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid transparent;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	line-height: 19px;
	cursor: pointer;
	margin-left: -1px;
	padding: 4px 19px;

	white-space: nowrap;

	font-size: 13px;
	font-family: arial,sans-serif;
}

.search_header_menu_list li.list_button input:hover {
	cursor: pointer;
	border: 1px solid #9F9F9F;
	color: #222;

	background: -moz-linear-gradient(top,#eee,#e0e0e0);
	-moz-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
	border: 1px solid #d7d7d7;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
	transition: all 0.0s;

	text-decoration: none;
}

#resultStats {
    position: absolute;
    top: 0;
    transition: all 220ms ease-in-out;

    color: #808080;

    line-height: 43px;

    padding-left: 16px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 8px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	visibility: inherit !important;

	font-size: small;
	font-family: arial,sans-serif;

	margin-top: 170px;
	margin-left: 270px;
}

ol, h1 {
	font-size: small;
	font-family: arial,sans-serif;

	color: #222;
}

#res {
    border: 0;
    margin: 0;
    padding: 0 20px;
}

h3, .med {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.hidden_title {
	clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
    visibility: hidden; 
    display:none ;
}

.c h2, h1 {
    font-weight: normal;
}

.result_list {
	color: #545454;

    max-width: 48em;

    line-height: 18px;

    text-align: left;

    font-weight: normal;
}

.result_item {
	line-height: 1.4;
	word-wrap: break-word;
	color: #545454;
	text-align: left;
	font-weight: normal;
}

.result_link {/*position prop.*/

}

.url_link {/*position prop.*/
	display: inline-block;
	padding-bottom: 3px;
	padding-top: 2px;
	cursor: pointer;
	color: #1a0dab;
	font-size: small;
	font-weight: normal;
	line-height: 1.2;
	text-align: left;

}

cite.result_url_text {
	font-size: 14px;
	padding-top: 1px;
	color: #006621;
	font-style: normal;
	cursor: pointer;
	font-weight: normal;
	font-family: arial,sans-serif;
	line-height: 1.2;
	text-align: left;

}

.title_link {
	font-size: 18px;
	display: inline-block;
	font-weight: normal;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #1a0dab;
	font-family: arial,sans-serif;
	line-height: 1.2;
	text-align: left;
}

.url_text {
	display: inline-block;
	padding-bottom: 3px;
	padding-top: 2px;
	cursor: pointer;
	color: #1a0dab;
	font-size: small;
	font-weight: normal;
	font-family: arial,sans-serif;
	line-height: 1.2;
	text-align: left;
}

div#res {
	padding-top:225px;
	padding-left: 290px
}

.result_page_text_container {
	max-width: 48em;
	color: #545454;
	line-height: 18px;
	font-size: small;
	font-family: arial,sans-serif;
	text-align: left;
	font-weight: normal;
}

/*FOOTER STYLES IMPORTED*/


ul.footer_list {
/*Was ul in the original*/
  list-style-type: none;
  margin: 0;
  padding: 7px;
/*was ul*/


  overflow: hidden;
  /*background-color: #f1f1f1;*/
  background-color: #f2f2f2;
  /*border: 1px solid blue;*/
  border-bottom: 1px solid #e4e4e4;
  color: #222;

}



div#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

li.footer_list {
  color: rgba(0,0,0,.54);
  float: left;
  padding: 10px 12px;
  font-size: 15px;
  font-family: arial, sans-serif;
}

li a.footer_link {
  display: block;
  font-size: small;
  text-decoration: none;
  color: #5f6368;
}


a.footer_link:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

div.lista {
	width: 100vw;
	background-color: #f2f2f2;
	/*border: 1px solid blue;*/
	border-bottom: 1px solid #e4e4e4;
}



div#list_of_list ul {
	display: inline-block;
	vertical-align: middle;
}



ul#right_list {
	position: absolute;
 	right: 0;
}


/*NAVIGATION TABLE*/

.footer_navigation {
	/*padding-left: 320px;*/
	padding-bottom: 50px;
	/*border: 1px solid red;*/
}

table {
	border-collapse: collapse;
	text-align: left;
	margin: 30px auto 30px;
    visibility: inherit;
    color: #222;
    font-size: small;
	font-family: arial,sans-serif;
}

tbody {
	visibility: inherit;
	color: #222;
	font-size: small;
	font-family: arial,sans-serif;
}

tr {
	color: #222;
	font-size: small;
	font-family: arial,sans-serif;
}

.image_nav_begin {
	padding: 0;
	text-align: center;
    font-weight: bold;
    border-collapse: collapse;
    visibility: inherit;
    color: #222;
    font-size: small;
	font-family: arial,sans-serif;
}

.csb {
	background:url(./images/nav_logo242.png) no-repeat;
	
	text-decoration: none;
	height: 40px;
	display: block;
	overflow: hidden;
	text-align: center;
	font-weight: normal;
	border-collapse: collapse;
	visibility: inherit;
	color: #222;
	font-size: small;
	font-family: arial,sans-serif;
}

.this_page {
	color: rgba(0,0,0,0.87);
	font-weight: normal;
	padding: 0;
	text-align: center;
	border-collapse: collapse;
	visibility: inherit;
	font-size: small;
	font-family: arial,sans-serif;
}

td {
	padding: 0;
	text-align: center;
	border-collapse: collapse;
    visibility: inherit;
    color: #222;
    font-size: small;
	font-family: arial,sans-serif;
}

.link_to_page {
	text-decoration: none;
	color: #4285f4;
	cursor: pointer;
	text-align: center;
	border-collapse: collapse;
	visibility: inherit;
	font-size: small;
	font-family: arial,sans-serif;

}

.link_to_page:hover {
	text-decoration: underline;
}

.ch {
	cursor: pointer;
	height: 40px;
	display: block;
	overflow: hidden;
	color: #4285f4;
	font-weight: normal;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	border-collapse: collapse;
	visibility: inherit;
	font-size: small;
	font-family: arial,sans-serif;
}

/*
.csb_ch {
	background:url(./images/nav_logo242.png) no-repeat;
	
	text-decoration: none;
	height: 40px;
	text-align: center;
	border-collapse: collapse;
	visibility: inherit;
	font-size: small;
	font-family: arial,sans-serif;

	cursor: pointer;
	display: block;
	overflow: hidden;
	color: #4285f4;
	font-weight: normal;
	white-space: nowrap;
}
*/

.image_nav_end {
	padding: 0;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	border-collapse: collapse;
	visibility: inherit;
	color: #222;
	font-size: small;
	font-family: arial,sans-serif;
}

.nav_end {
	text-align: left;
	color: #4285f4;
	font-weight: normal;
	text-decoration: none;
	white-space: nowrap;
	display: block;
	cursor: pointer;
	border-collapse: collapse;
	visibility: inherit;
	font-size: small;
	font-family: arial,sans-serif;
}

span.end_next_text{
	display:block;
	margin-left:53px;
	text-decoration: none;
	color: #4285f4;
	font-size: small;
	font-family: arial,sans-serif;
}

span.end_next_text:hover {
	text-decoration: underline;
}